body{
    background-color: rgb(30, 25, 25);
    margin: 0;
}
*{
    color:bisque;
}

.title{
    text-align: center;
}
h4{
    text-align: center;
    font-size: 120%;
}
p{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    padding: 0;
}
li {
  display: list-item;
  text-align: left;           
}
.arrow{
    align-items: center;
    font-size: 400%;
}
.coolbox{
    display: flex;
    background-color:#8a550f64;
    position: absolute;
    bottom:0;
    height: 7vh;
    width: 100%;
    overflow: hidden;
}
.madeby{
    margin-bottom: 0;
    position: absolute;
    bottom:30%;
    left:0.5%;
}

/*phone ui*/
@media (max-width: 768px) {

    .title{
        font-size:37px;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    h4{
        font-size:18px;
    }

    .coolbox{
        height:7vh;
    }

    .madeby{
        margin-bottom: 2%;
        margin-left: 1%;
    }
}